# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [1]:
!pwd
!ls -al

/Users/rhirsch/Desktop/houston-ds-042219-manipulating-data-with-pandas
total 392
drwxr-xr-x  13 rhirsch  staff     416 Apr 25 10:47 .
drwx------+  8 rhirsch  staff     256 Apr 25 10:46 ..
drwxr-xr-x  12 rhirsch  staff     384 Apr 25 10:46 .git
drwxr-xr-x   2 rhirsch  staff      64 Apr 25 10:47 .ipynb_checkpoints
-rw-r--r--   1 rhirsch  staff      49 Apr 25 10:46 README.md
-rw-r--r--   1 rhirsch  staff      95 Apr 25 10:46 ds_chars.csv
-rw-r--r--   1 rhirsch  staff  112025 Apr 25 10:46 export_csv.png
-rw-r--r--   1 rhirsch  staff   11328 Apr 25 10:46 heart.csv
-rw-r--r--   1 rhirsch  staff   24997 Apr 25 10:46 heartbloodpres.jpeg
-rw-r--r--   1 rhirsch  staff    7346 Apr 25 10:46 manipulating-data-pandas-2.md
-rw-r--r--   1 rhirsch  staff   18952 Apr 25 10:46 manipulating_data_with_pandas.ipynb
-rw-r--r--   1 rhirsch  staff    3297 Apr 25 10:46 pre_process_animal_shelter_data.py
-rw-r--r--   1 rhirsch  staff     130 Apr 25 10:46 states.csv

In [2]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [3]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [4]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [5]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [6]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [7]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [8]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [9]:
uci.mean()

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

#### The Axis Variable

In [10]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [17]:
uci['age'].value_counts()[:10]

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

$\bf{\rightarrow Exercise: What\ are\ the\ different\ values\ for\ restecg?}$

In [18]:
# Your code here!
uci['restecg'].value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?<br>
`animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')`

In [19]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

Let's rename the columns to something a bit more friendly.

In [20]:
animal_outcomes.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color'],
      dtype='object')

In [21]:
new_names = ['id', 'name', 'date', 'monthyear', 'dob', 'outcome', 'outcome_s', 'animal', 'sex', 'age', 'breed', 'color']
animal_outcomes.columns = new_names

In [22]:
animal_outcomes.columns

Index(['id', 'name', 'date', 'monthyear', 'dob', 'outcome', 'outcome_s',
       'animal', 'sex', 'age', 'breed', 'color'],
      dtype='object')

What are the breed `value_counts`?

How about outcome counts for dogs?

_Hint_ <br>
Remember we did filtering in a previous lesson like this:<br>
`customer_df.loc[customer_df["state"]=='OR']`

In [24]:
animal_outcomes['breed'].value_counts()[:10]

Domestic Shorthair Mix       29092
Pit Bull Mix                  7738
Labrador Retriever Mix        5990
Chihuahua Shorthair Mix       5861
Domestic Medium Hair Mix      2935
German Shepherd Mix           2604
Bat Mix                       1735
Domestic Longhair Mix         1452
Australian Cattle Dog Mix     1315
Siamese Mix                   1160
Name: breed, dtype: int64

In [25]:
animal_outcomes['animal'].value_counts()[:10]

Dog          56646
Cat          36459
Other         5292
Bird           456
Livestock       15
Name: animal, dtype: int64

In [31]:
foo=animal_outcomes.loc[animal_outcomes['animal']=='Dog']#['outcome'].value_counts()

foo['outcome'].value_counts()

Adoption           26207
Return to Owner    16175
Transfer           12134
Euthanasia          1602
Rto-Adopt            302
Died                 192
Missing               20
Disposal              11
Name: outcome, dtype: int64

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [32]:
def successor(x):
    return x + 1

In [36]:
uci.applymap(successor).head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2
5,58,2,1,141,193,1,2,149,1,1.4,2,1,2,2
6,57,1,2,141,295,1,1,154,1,2.3,2,1,3,2
7,45,2,2,121,264,1,2,174,1,1.0,3,1,4,2
8,53,2,3,173,200,2,2,163,1,1.5,3,1,4,2
9,58,2,3,151,169,1,2,175,1,2.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [35]:
uci['age'].map(successor).tail()

298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [37]:
uci['oldpeak'].map(lambda x: round(x))[:4]

0    2
1    4
2    1
3    1
Name: oldpeak, dtype: int64

In [38]:
uci['oldpeak'][:4]

0    2.3
1    3.5
2    1.4
3    0.8
Name: oldpeak, dtype: float64

$\bf{\rightarrow Exercise: Use\ an\ anonymous\ function\ to\ turn\ the\ entries\ in\ age\ to\ strings}$

In [45]:
# Your code here!

uci['age'].map(lambda x : str(x)).dtypes

uci['age'].dtypes

dtype('int64')

### Apply to Animal Shelter Data

We want to get the average age of animals, but the age variable is a mess.


Use a `map` to help change the dates from strings to datetime objects. 
- First use `map` to grab only the first 10 characters of date
- Second,  we can use `to_datetime` to convert the remaining characters to a datetime object

`animal_outcomes['date'] =  pd.to_datetime(animal_outcomes['date'], format='%m/%d/%Y')`

[for further reading on datetime formats, go here](http://strftime.org/)

In [49]:
animal_outcomes['date'] =  pd.to_datetime(animal_outcomes['date'].map(lambda x: x[:10]), format='%m/%d/%Y')

TypeError: 'Timestamp' object is not subscriptable

In [53]:
animal_outcomes.head(15)

,id,name,date,monthyear,dob,outcome,outcome_s,animal,sex,age,breed,color
0,A793381,NaN,2019-04-25,04/25/2019 09:18:00 AM,2017-04-24,Transfer,Partner,Bird,Intact Female,NaN,Peafowl Mix,Brown/White
1,A792769,Pawd Father,2019-04-25,04/25/2019 08:22:00 AM,2017-04-15,Return to Owner,NaN,Cat,Intact Male,2 years,Domestic Shorthair Mix,Black
2,A791077,*Archie,2019-04-25,04/25/2019 08:07:00 AM,2019-02-14,Adoption,Foster,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Orange Tabby
3,A793392,NaN,2019-04-24,04/24/2019 09:37:00 PM,2019-04-22,Transfer,Partner,Cat,Intact Male,2 days,Domestic Shorthair Mix,White/Black
4,A793417,Diamond,2019-04-24,04/24/2019 07:04:00 PM,2018-04-24,Return to Owner,NaN,Dog,Spayed Female,1 year,Pit Bull Mix,Chocolate/White
5,A793087,*Jeepers,2019-04-24,04/24/2019 07:04:00 PM,2017-04-19,Adoption,NaN,Dog,Neutered Male,2 years,Harrier Mix,Black/Tricolor
6,A793416,NaN,2019-04-24,04/24/2019 07:00:00 PM,2019-02-24,Euthanasia,Rabies Risk,Other,Unknown,NaN,Raccoon Mix,Black/White
7,A772415,Sky,2019-04-24,04/24/2019 06:48:00 PM,2018-04-12,Adoption,Foster,Dog,Spayed Female,1 year,Border Collie Mix,Sable
8,A793162,NaN,2019-04-24,04/24/2019 06:47:00 PM,2019-01-20,Adoption,NaN,Dog,Neutered Male,3 months,Harrier Mix,Tricolor
9,A792860,NaN,2019-04-24,04/24/2019 06:40:00 PM,2014-04-16,Adoption,NaN,Dog,Neutered Male,5 years,Chihuahua Shorthair Mix,Brown
10,A790254,Drake,2019-04-24,04/24/2019 06:17:00 PM,2017-03-07,Return to Owner,NaN,Dog,Intact Male,2 years,Cane Corso Mix,Brown Brindle
11,A793150,NaN,2019-04-24,04/24/2019 06:09:00 PM,2017-04-20,Transfer,Snr,Cat,Intact Male,2 years,Domestic Longhair Mix,Black/White
12,A793329,*Grey Wind,2019-04-24,04/24/2019 05:47:00 PM,2018-12-23,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd Mix,Tan/Black
13,A728768,*Woobie,2019-04-24,04/24/2019 05:47:00 PM,2015-09-19,Adoption,Foster,Dog,Neutered Male,3 years,Labrador Retriever Mix,Black/White
14,A793185,NaN,2019-04-24,04/24/2019 05:31:00 PM,2019-02-20,Adoption,NaN,Dog,Spayed Female,2 months,Pit Bull Mix,Brown Brindle

- **Then** do the same to `dob` to convert it to datetime

In [52]:
animal_outcomes['dob'] =  pd.to_datetime(animal_outcomes['dob'].map(lambda x: x[:10]), format='%m/%d/%Y')

In [54]:
animal_outcomes.dtypes

id                   object
name                 object
date         datetime64[ns]
monthyear            object
dob          datetime64[ns]
outcome              object
outcome_s            object
animal               object
sex                  object
age                  object
breed                object
color                object
dtype: object

 - **Create** a new variable `age_in_days` by subtracting `dob` from `date`

In [59]:
age_in_days = animal_outcomes['date'] - animal_outcomes['dob']

- Use `map` again to convert `age_in_days` to `years_old` with the `lambda` function `x.days/365`

In [60]:
years_old = age_in_days.map(lambda x: x.days/365)

In [61]:
years_old[:10]

0    2.002740
1    2.027397
2    0.191781
3    0.005479
4    1.000000
5    2.013699
6    0.161644
7    1.032877
8    0.257534
9    5.024658
dtype: float64

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [64]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [66]:
uci.groupby('sex').groups

{0: Int64Index([  2,   4,   6,  11,  14,  15,  16,  17,  19,  25,  28,  30,  35,
              36,  38,  39,  40,  43,  48,  49,  50,  53,  54,  59,  60,  65,
              67,  69,  74,  75,  82,  84,  85,  88,  89,  93,  94,  96, 102,
             105, 107, 108, 109, 110, 112, 115, 118, 119, 120, 122, 123, 124,
             125, 127, 128, 129, 130, 131, 134, 135, 136, 140, 142, 143, 144,
             146, 147, 151, 153, 154, 155, 161, 167, 181, 182, 190, 204, 207,
             213, 215, 216, 220, 223, 241, 246, 252, 258, 260, 263, 266, 278,
             289, 292, 296, 298, 302],
            dtype='int64'),
 1: Int64Index([  0,   1,   3,   5,   7,   8,   9,  10,  12,  13,
             ...
             288, 290, 291, 293, 294, 295, 297, 299, 300, 301],
            dtype='int64', length=207)}

In [67]:
uci.groupby('sex').get_group(0) # .tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
30,41,0,1,105,198,0,1,168,0,0.0,2,1,2,1
35,46,0,2,142,177,0,0,160,1,1.4,0,0,2,1
36,54,0,2,135,304,1,1,170,0,0.0,2,0,2,1
38,65,0,2,155,269,0,1,148,0,0.8,2,0,2,1
39,65,0,2,160,360,0,0,151,0,0.8,2,0,2,1
40,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
43,53,0,0,130,264,0,0,143,0,0.4,1,0,2,1
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0,1
49,53,0,0,138,234,0,0,160,0,0.0,2,0,2,1
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2,1
53,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
54,63,0,2,135,252,0,0,172,0,0.0,2,0,2,1
59,57,0,0,128,303,0,0,159,0,0.0,2,1,2,1
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1
67,45,0,1,130,234,0,0,175,0,0.6,1,0,2,1
69,62,0,0,124,209,0,1,163,0,0.0,2,0,2,1
74,43,0,2,122,213,0,1,165,0,0.2,1,0,2,1
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2,1
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
153,66,0,2,146,278,0,0,152,0,0.0,1,1,2,1
154,39,0,2,138,220,0,1,152,0,0.0,1,0,2,1
155,58,0,0,130,197,0,1,131,0,0.6,1,0,2,1
161,55,0,1,132,342,0,1,166,0,1.2,2,0,2,1
167,62,0,0,140,268,0,0,160,0,3.6,0,2,2,0
181,65,0,0,150,225,0,0,114,0,1.0,1,3,3,0
182,61,0,0,130,330,0,0,169,0,0.0,2,0,2,0
190,51,0,0,130,305,0,1,142,1,1.2,1,0,3,0
204,62,0,0,160,164,0,0,145,0,6.2,0,3,3,0
207,60,0,0,150,258,0,0,157,0,2.6,1,2,3,0
213,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0
215,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0
216,62,0,2,130,263,0,1,97,0,1.2,1,1,3,0
220,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3,0
241,59,0,0,174,249,0,1,143,1,0.0,1,0,2,0
246,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
252,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2,0
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0
263,63,0,0,108,269,0,1,169,1,1.8,1,2,2,0
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2,0
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### Aggregating

In [68]:
uci.groupby('sex').std()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,9.409396,0.972427,19.311119,65.088946,0.332455,0.557150,20.047969,0.422503,1.119844,0.593736,0.881026,0.441290,0.435286
1,8.883803,1.059064,16.658246,42.782392,0.366955,0.510754,24.130882,0.484505,1.174632,0.627378,1.074082,0.659949,0.498626

$\bf{\rightarrow Exercise: Tell\ me\ the\ average\ cholesterol\ level\ for\ those\ with\ heart\ disease.}$

In [78]:
# Your code here!

uci.groupby('target')['chol'].mean()
#uci.groupby('target').get_group(0)['chol'].mean()

target
0    251.086957
1    242.230303
Name: chol, dtype: float64

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

In [ ]:
# Your code here

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [79]:
uci.pivot(values = 'sex', columns = 'target').tail(10)

target    0   1
293     1.0 NaN
294     1.0 NaN
295     1.0 NaN
296     0.0 NaN
297     1.0 NaN
298     0.0 NaN
299     1.0 NaN
300     1.0 NaN
301     1.0 NaN
302     0.0 NaN

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [80]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [81]:
toy1.join(toy2.set_index('age'), on = 'age',
          lsuffix = '_A', rsuffix = '_B').head()

   age  HP_A  HP_B
0   63   142   100
1   33    47   200

### `.merge()`

In [82]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [84]:
ds_chars.head()

     name   HP home_state
0    greg  200         WA
1   miles  200         WA
2    alan  170         TX
3  alison  300         DC
4  rachel  200         TX

In [83]:
states = pd.read_csv('states.csv', index_col = 0)

In [85]:
states.head()

  state   nickname     capital
0    WA  evergreen     Olympia
1    TX      alamo      Austin
2    DC   district  Washington
3    OH    buckeye    Columbus
4    OR     beaver       Salem

In [89]:
ds_full=ds_chars.merge(states, left_on='home_state', right_on = 'state',
               how = 'inner')

### `pd.concat()`

$\bf{\rightarrow Exercise: Look\ up\ the documentation\ on\ pd.concat}$ (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) $\bf{and\ use\ it\ to\ concatenate\ ds\_chars\ and\ states.}$
<br/>
$\bf{Your\ result\ should\ still\ have\ only\ five\ rows!}$

In [87]:
pd.concat([ds_chars, states])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

      HP     capital home_state    name   nickname state
0  200.0         NaN         WA    greg        NaN   NaN
1  200.0         NaN         WA   miles        NaN   NaN
2  170.0         NaN         TX    alan        NaN   NaN
3  300.0         NaN         DC  alison        NaN   NaN
4  200.0         NaN         TX  rachel        NaN   NaN
0    NaN     Olympia        NaN     NaN  evergreen    WA
1    NaN      Austin        NaN     NaN      alamo    TX
2    NaN  Washington        NaN     NaN   district    DC
3    NaN    Columbus        NaN     NaN    buckeye    OH
4    NaN       Salem        NaN     NaN     beaver    OR

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [90]:
pd.melt(ds_full, id_vars='HP')

     HP    variable       value
0   200        name        greg
1   200        name       miles
2   170        name        alan
3   200        name      rachel
4   300        name      alison
5   200  home_state          WA
6   200  home_state          WA
7   170  home_state          TX
8   200  home_state          TX
9   300  home_state          DC
10  200       state          WA
11  200       state          WA
12  170       state          TX
13  200       state          TX
14  300       state          DC
15  200    nickname   evergreen
16  200    nickname   evergreen
17  170    nickname       alamo
18  200    nickname       alamo
19  300    nickname    district
20  200     capital     Olympia
21  200     capital     Olympia
22  170     capital      Austin
23  200     capital      Austin
24  300     capital  Washington

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
 - drop everything but the intake date and the animal id
 - use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days_in_shelter variable
- create a new month_at_intake variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here

## Assessment & Reflection